---
import WorkspaceLayout from "../layouts/WorkspaceLayout.astro"
import ContentWrapper from "../components/ContentWrapper.vue"
import {routeList} from "virtual:compiiile"
import SlidesLayout from "../layouts/SlidesLayout.astro";

export async function getStaticPaths() {
    const markdownFiles = await Astro.glob('@source/**/*.{md,mdx}')

    return routeList.map(route => {
        const md = markdownFiles.find(post => post.file === `${process.cwd()}/${route.fullPath}`)

        let routePath = route.path

        if (routePath !== import.meta.env.BASE_URL) {
            routePath = routePath.substring(import.meta.env.BASE_URL.length)
        }

        return {
            params: {
                path: routePath === import.meta.env.BASE_URL ? undefined : routePath
            },
            props: {
                name: route.name,
                md,
                asSlides: !!route.meta.asSlides,
                uuid: route.name,
                title: route.meta.title,
                description: route.meta.description || "",
                textAlign: route.meta.textAlign
            }
        }
    })
}

let {path} = Astro.params;

const {name, title, description, asSlides, textAlign} = Astro.props

const {Content} = Astro.props.md

const tableOfContent = Astro.props.md.getHeadings()
---

{asSlides ?
<SlidesLayout title={title} description={description} textAlign={textAlign}>
    <div class="slides-content">
        <Content/>
    </div>
</SlidesLayout>

    :

<WorkspaceLayout title={title} description={description} isNotFoundPage={false}>
    <ContentWrapper name={name} tableOfContent={tableOfContent}>
        <Content/>
    </ContentWrapper>
</WorkspaceLayout>
    }



