---
import ThemeLoader from "./ThemeLoader.astro";
import '../utils/styles.js'
import {SEO} from "astro-seo"
const {title, description, isNotFoundPage} = Astro.props
import { site } from "virtual:compiiile"
const titleTemplate = site.title ? `%s | ${ site.title }` : ''
const siteUrl = site.siteUrl || Astro.url.origin
let siteBase = site.base
if(!siteBase.endsWith("/")){
    siteBase += "/"
}
const faviconBaseUrl = `${ siteBase }favicon.png`
const faviconAbsoluteUrl = `${ siteUrl }/${ faviconBaseUrl }`

const metaDescription = description || site.description

const defaultTheme = site.theme
---

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href={ faviconBaseUrl }/>
    {isNotFoundPage ? '' :
            <SEO title={title}
                 description={metaDescription}
                 titleTemplate={titleTemplate}
                 openGraph={{
                     basic: {
                         title: title,
                         type: "website",
                         description: metaDescription,
                         image: faviconAbsoluteUrl,
                     }
                 }}
            />}
    <ThemeLoader defaultTheme={defaultTheme}/>
</head>
<body>
<slot></slot>
</body>
</html>
